<% if(theme.swift_search) { %>
  <div class="form-group">
    <div class="search-delete" title="清除搜索框" onclick="deleteSearch()">
      <div class="search-bar1"></div>
      <div class="search-bar2"></div>
    </div>
    <input type="text" oninput="gotoSearch()" id="local-search-input" placeholder="<%= __('在这里输入内容') %>"/>
  </div>  
  <div id="local-search-result">
  </div>
  <div class="search-tags">
    <%- tagcloud() %>
  </div>
  <script>
    function deleteSearch() {
      jQuery("#local-search-input").val('') // 清除搜索内容
      $(".search-tags").css('display', 'block'); // 显示隐藏设置
      $(".search-delete").css('display', 'none');
      let show = document.getElementById('local-search-result'); // 清除原搜索结果
      show.innerHTML=''
    }
    function gotoSearch() { // 执行函数（输入内容改变且不为空时执行搜索，为空时显示tags，隐藏清除按钮）
      let inputStr = jQuery("#local-search-input").val() // 获取输入内容
      if (inputStr !== "") {
        $(".search-tags").css('display', 'none');
        $(".search-delete").css('display', 'block');
        handleSearch(inputStr)
      } else {
        $(".search-tags").css('display', 'block');
        $(".search-delete").css('display', 'none');
        let show = document.getElementById('local-search-result'); // 清除原搜索结果
        show.innerHTML=''
      }
    }
    function handleSearch(inputStr) { // 实施搜索
      let data = JSON.parse(localStorage.getItem('content'))
      inputStr = inputStr.toLowerCase()
      data.forEach((post) => { // 搜索匹配字符串具体位置
        post.matchTitle = false
        post.titleIndex = post.title.toLowerCase().indexOf(inputStr)
        if (post.titleIndex > -1) {
	  			post.matchTitle = true
	  		}

        post.matchText = false
        post.textIndex = post.text.toLowerCase().indexOf(inputStr)
        if (post.textIndex > -1) {
          post.matchText = true
        }

        post.matchTags = false
	  		post.tags.forEach((tag) => {
	  			if (tag.name.toLowerCase().indexOf(inputStr) > -1) {
            post.matchTags = true
	      	}
	  		})
      });

      let htmlStr = '' // 搜索结果html
      htmlStr += '<ul class="search-ul">'
      findPost = false;
      data.forEach((post) => { // 生成展示结果
        if (post.matchTitle || post.matchText || post.matchTags) {
          findPost = true;
          let tagStr = '' // tags标签
          post.tags.forEach((tag) => {
            index = tag.name.toLowerCase().indexOf(inputStr)
            if (index > -1) {
              name = tag.name.slice(0,index)+'<b>'+tag.name.slice(index,index+inputStr.length)+'</b>'+tag.name.slice(index+inputStr.length)
            } else {
              name = tag.name
            }
            tagStr+='<span>#'+name+' </span>'
          })
          if(post.matchTitle) { // 标题
            title = post.title.slice(0,post.titleIndex)
            + '<b>' + post.title.slice(post.titleIndex, post.titleIndex+inputStr.length) + '</b>'
            + post.title.slice(post.titleIndex+inputStr.length)
          } else {
            title = post.title
          }
          if(post.matchText) { // 内容
            text = post.text.slice(post.textIndex-25,post.textIndex)
            + '<b>' + post.text.slice(post.textIndex, post.textIndex+inputStr.length) + '</b>'
            + post.text.slice(post.textIndex+inputStr.length,post.textIndex+inputStr.length+25)
          } else {
            text = post.text.slice(0,50)
          }
          htmlStr+='\
          <li class="search-li">\
            <a href="/'+post.path+'" class="search-title">\
              <span>'+title+'</span>\
            </a>\
            <p class="search-result">\
              '+text+'\
            </p>\
            <p class="search-time">\
              <span>'+post.date.slice(0,10)+'</span>\
            </p>\
            <p class="search-tag">\
              '+tagStr+'\
            </p>\
          </li>';
        }
      })
      if (!findPost) {
        htmlStr+='\
        <li class="search-li">\
          <p class="search-result">\
            没有搜索到相关结果，请清除内容重新搜索或清除浏览器缓存后重试。\
          </p>\
        <\li>'
      }
      htmlStr += '<ul>'
      let show = document.getElementById('local-search-result');
      show.innerHTML=htmlStr
    }
  </script>
<% } %>