<div id="progress" class="sidebutton" style="position:fixed;bottom:120px;right:0px;cursor: pointer;">
    <div class="progressbar">
        <div class="left-container">
            <div class="left-circle"></div>
        </div>
        <div class="right-container">
            <div class="right-circle"></div>
        </div>
    </div>
    <div id="progress-rate"
        title="浏览进度"
        style="color:#fff; font-size: 15px;text-align: center;padding-top: 8px;">
    </div>
</div>
<div id="changebg" class="sidebutton" style="position:fixed;bottom:70px;right:0px;cursor: pointer;">
    <a title="背景颜色"><img class="iconimg" src="/img/change.png"/></a>
</div>
<div id="totop" class="sidebutton" style="position:fixed;bottom:40px;right:0px;cursor: pointer;">
    <a title="返回顶部"><img class="iconimg" src="/img/scrollup.png"/></a>
</div>
<div id="todown" class="sidebutton" style="position:fixed;bottom:10px;right:0px;cursor: pointer;">
    <a title="到达底部"><img class="iconimg" src="/img/scrolldown.png"/></a>
</div>